<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <section>
            <article>
                <div>
                    <header>
                        <h2>{{ .Title }}</h2>
                    </header>
                    <div>
                        <p>La página seleccionada no existe más.</p>
                        <p><a href="/">Volver a la página principal.</a></p>
                    </div>
                </div>
            </article>
            {{- partial "sidebar.html" . -}}
        </section>
        {{- partial "footer.html" . -}}
    </body>
</html>
