{{ define "main" }}

<div class="grid grid-cols-2 gap-6 lg:grid-cols-3 xl:gap-10 xl:grid-cols-4">	
	{{ range .Site.RegularPages.ByPublishDate.Reverse }}
		{{ if ne .Type "page" }} 
				{{ $borderColor := "border-black" }}

				{{ if (eq .Parent.Type "calculators") }}
					{{ $borderColor = "border-sky-400" }}
				{{ else if (eq .Parent.Type "articles") }}
					{{ $borderColor = "border-red-500" }}
				{{ else if (eq .Parent.Type "projects") }}
					{{ $borderColor = "border-orange-400" }}
				{{ else if (eq .Parent.Type "experiments") }}
					{{ $borderColor = "border-emerald-500" }}
				{{ end }}
				<a href="{{ .RelPermalink }}">
				<div class="group border border-b-3 border-r-3 h-full {{ $borderColor }}">
				<div class="overflow-hidden border-b {{ $borderColor }}">
					<img src="{{ .Params.Thumbnail }}" class="transition duration-300 group-hover:scale-110 w-full"/>
				</div>
				<div class="p-5">
					<p class="ml-8 font-mono header-line"><strong>{{.Title}}</strong></p>
					<p class="mt-3 text-slate-600">{{ .Summary }}</p>
				</div>
				</div>
			</a>
		{{ end }}
    {{ end }}
</div>

{{ end }}
