{{ define "main" }}
<div>

	<header>
	  <h2>{{i18n "latest_news"}}</h2>
	</header>

	<div>
		<ul>
		{{ range first 5 .Site.RegularPages}}
			<li>
				<a href="{{.Permalink}}">{{.Title}}</a>
			</li>
		{{ end }}
		</ul>
	</div>

</div>

<div>
	<header>
		<h2>{{i18n "latest_video"}}</h2>
	</header>

	<div>
		<div id="ytplayer"></div>
	</div>
</div>

<script type="text/javascript">
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	var player;
	function onYouTubeIframeAPIReady() {
		player = new YT.Player('ytplayer', {
			height: '340',
			width: '600',
			videoId: 'ew01l9rJP_8',
			playerVars: {
				listType:'user_uploads',
				list: 'gzaloprgm',
			},
			events: {
				'onReady': onPlayerReady,
			}
		});
	}
	function onPlayerReady(event) {
		event.target.playVideo();
		event.target.mute();
	}
</script>
{{ end }}