{{ define "main" }}
<div class="prose prose-sm lg:prose-base max-w-none pt-5">
	{{ if eq .Site.Language.Lang "es" }}
	<p>¡Te doy la bienvenida a mi sitio web! Aquí encontrarás información sobre desarrollo de software, electrónica, y muchos temas más.</p>
	{{ else }}
	<p>Welcome to my website! Here you can find information related to software develompent, electronics, and other subjects.</p>
	{{ end }}
</div>

<div class="flex flex-col lg:flex-row justify-between pt-5">
	<div>
		<h2 class="font-extrabold text-2xl">{{i18n "latest_news"}}</h2>

		<div class="prose prose-sm lg:prose-base max-w-none">
			<ul>
			{{ range first 8 .Site.RegularPages}}
				<li>
					<a href="{{.Permalink}}">{{.Title}}</a>
				</li>
			{{ end }}
			</ul>
		</div>
	</div>

	<div>
		<h2 class="font-extrabold text-2xl">{{i18n "latest_video"}}</h2>
		<div id="ytplayer"></div>
	</div>
</div>

<script type="text/javascript">
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	var player;
	function onYouTubeIframeAPIReady() {
		player = new YT.Player('ytplayer', {
			height: '340',
			width: '600',
			videoId: 'ew01l9rJP_8',
			playerVars: {
				listType:'user_uploads',
				list: 'gzaloprgm',
			},
			events: {
				'onReady': onPlayerReady,
			}
		});
	}
	function onPlayerReady(event) {
		event.target.playVideo();
		event.target.mute();
	}
</script>
{{ end }}
