<footer>
    <p><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/"><i class="fab fa-creative-commons"></i></a> 2004-{{ now.Format "2006"}} - <em>Gzalo.com</em> by Gonzalo Avila Alterach</p>
    {{ if eq .Site.Language.Lang "es" }}
    <p>Este sitio usa cookies para darte una mejor experiencia.<br/> El uso del mismo implica la aceptación de la <a href="/en/cookies" class="w3-text-blue w3-underline">política de privacidad y de cookies</a>.</p>
    {{ else }}
    <p>This site uses cookies for a better experience.<br/> Its usage implies accepting the <a href="/en/cookies" class="w3-text-blue w3-underline">privacy and cookie policy</a>.</p>
    {{ end }}
    <p><a href="mailto:gonzaloavilaalterach@gmail.com"><i class="far fa-envelope"></i></a>
    <a href="https://www.facebook.com/gzalocom"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/gonzalo-avila-alterach-21a63626/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/c/Gzalo"><i class="fab fa-youtube"></i></a>
    <a href="https://github.com/gzalo"><i class="fab fa-github"></i></a></p>
</footer>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-11919886-4', 'auto');
    ga('send', 'pageview');
</script>
