<footer class="my-5 py-5 border-t-2 mt-20">
    <div class="flex justify-between md:flex-row flex-col-reverse">
        
        <div>
            <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/"><i class="fab fa-creative-commons"></i></a> 2004-{{ now.Format "2006"}} - <em>Gzalo.com</em> by <strong>Gonzalo Avila Alterach</strong>

            <div class="text-xs text-gray-600 pt-2">
                {{ if eq .Site.Language.Lang "es" }}
                <p><strong>Licencias:</strong> Textos e imágenes <strong><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3</a></strong> · Códigos fuente <strong>dominio público</strong></p>
                <p>Usar este sitio implica la aceptación de la <a href="/en/cookies" class="w3-text-blue w3-underline">política de privacidad y de cookies</a>.</p>
                {{ else }}
                <p>Text and images from this web site are licenced under <strong><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3</a></strong>.</p><p>Source codes are under <strong>public domain</strong>, unless stated otherwise.</p>
                <p>This site uses cookies for a better experience.<br/> Its usage implies accepting the <a href="/en/cookies" class="w3-text-blue w3-underline">privacy and cookie policy</a>.</p>
                {{ end }}
            </div>
        </div>

        <div class="text-2xl py-4">
            <a href="mailto:gonzaloavilaalterach@gmail.com"><i class="fas fa-envelope pr-4 md:px-2"></i></a>
            <a href="https://github.com/gzalo"><i class="fab fa-github px-4 md:px-2"></i></a>
            <a href="https://www.youtube.com/c/Gzalo"><i class="fab fa-youtube px-4 md:px-2"></i></a>
            <a href="https://www.linkedin.com/in/gonzalo-avila-alterach-21a63626/"><i class="fab fa-linkedin px-4 md:px-2"></i></a>
            <a href="https://www.facebook.com/gzalocom"><i class="fab fa-facebook px-4 md:px-2"></i></a>
        </div>
    </div>
</footer>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-11919886-4', 'auto');
    ga('send', 'pageview');
</script>
