<header>
  <div>
    <h1 class="text-4xl"><a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a></h1>
    <h2 class="text-xl">{{ .Site.Params.Description }}</h2>
  </div>
</header>

<nav>
  <div>
    {{ range .Site.Menus.main }}
    <a href="{{ .URL | absLangURL }}">
      {{ .Name }}
    </a>
    {{ end }}

    <div>
      <form action="/search/" method="get">
      <input type="text" name="q" placeholder="{{ i18n "search" }}">
      </form>
    </div>

    <a href="#"><i class="fas fa-search"></i></a>

    <div>
      <button><i class="fas fa-globe"></i></button>     
      <div>
      {{ range $.Site.Home.AllTranslations }}
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{ end }}
      </div>
    </div>
  </div>
</nav>
