<aside>
  {{ if eq .Site.Language.Lang "es" }}
    <div>

        <header>
          <h3>¿Quién soy?</h3>
        </header>
    
        <div>
          <p>Me llamo <strong>Gonzalo Avila Alterach</strong>, soy de Buenos Aires, Argentina.
          Soy Ingeniero Electrónico, graduado de la <abbr title="Facultad de Ingeniería de la UBA">FIUBA</abbr> en 2017.</p>
          <p>Me interesan los temas relacionados con redes, sistemas embebidos, gráficos 3D, procesamiento de señales y más!</p>
          <p>En esta web podrás encontrar algunos artículos y proyectos que he construido.</p>
          <p class="w3-hide">Sometimes I also make music, but you can say it's quite jitty.</p>
        </div>
    
    </div>
    
    <div>
    
        <header>
          <h3>Contacto</h3>
        </header>
    
        <div>
          <p>¿Tenés alguna consulta? <br/> Podés dejarme un comentario en los artículos o contactarte conmigo mediante los siguientes medios:</p>
    
            <p>
            <span><a href="mailto:gonzaloavilaalterach@gmail.com"><i class="far fa-envelope"></i></a>
                <a href="https://www.facebook.com/gzalocom"><i class="fab fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/gonzalo-avila-alterach-21a63626/"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/c/Gzalo"><i class="fab fa-youtube"></i></a>
                <a href="https://github.com/gzalo"><i class="fab fa-github"></i></a></span>
            </p>
    
        </div>
    
    </div>
    
    <div>
    
        <header>
          <h3>Licencias</h3>
        </header>
    
        <div>
          <p>Los textos e imagenes de esta web están bajo licencia <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3</a>.</p>
          <p>Los códigos fuente están bajo dominio público, a no ser que se especifique lo contrario.</p>
        </div>
    
    </div>
  {{ else }}

    <div>

      <header>
        <h3>Who am I?</h3>
      </header>
    
      <div>
        <p>My name is <strong>Gonzalo Avila Alterach</strong>, I'm from Buenos Aires, Argentina.
        I'm an Electronics Engineer (EE) graduated from <abbr title="Facultad de Ingeniería de la UBA">FIUBA</abbr> in 2017.</p>
        <p>I'm interested in everything related to computer networks, embedded systems, signal processing, graphics programming and many other fields.</p>
        <p>In this website you can find some of my articles and projects I've built.</p>
        <p class="w3-hide">Sometimes I also make music, but you can say it's quite jitty.</p>
      </div>
    
    </div>
    
    <div>
    
      <header>
        <h3>Contact</h3>
      </header>
    
      <div>
        <p>Found any errors in texts or circuits?<br/>You can leave a comment on the articles, or contact me:</p>
        <p>
        <span><a href="mailto:gonzaloavilaalterach@gmail.com"><i class="far fa-envelope"></i></a>
          <a href="https://www.facebook.com/gzalocom"><i class="fab fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/gonzalo-avila-alterach-21a63626/"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.youtube.com/c/Gzalo"><i class="fab fa-youtube"></i></a>
          <a href="https://github.com/gzalo"><i class="fab fa-github"></i></a></span>
        </p>
    
      </div>
    
    </div>
    
    <div>
    
      <header>
        <h3>Licence</h3>
      </header>
    
      <div>
        <p>Text and images from this web site are licenced under <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3</a>.</p><p>Source codes are under public domain, unless stated otherwise.</p>
      </div>
    
    </div>
  {{ end }}

</aside>
