*{
	margin:0;
	padding:0;
}
body{
	overflow:hidden;
}
body, input, button{
	font-family: "Trebuchet MS", Arial, sans-serif;
}
#derecha{
	float:right;
	margin-right:5px;
	margin-top:5px;
}
#fps{
	text-align:right;
}